<div class="container ">
	<div class="row">
		<div class="text-center">
			<%= image_tag('logo.png', alt: (t '.logo_alt', :default => 'Welcome to hledam pomucku.cz'), size: '500x250') %>
			<br>
			<h2>
				<%= t '.landing_subtitle', :default => 'a search engine for medical aids and assistive technologies' %>
			</h2>
		</div>
	</div>

	<div class="row">
		<%= render "search" %>
	</div>

	<div class="row">
		<div class="text-center">
			<%= link_to((t '.landing_pruvodce', :default => 'Not sure what aid to search for? Try the wizard!'), items_path, class: 'btn btn-primary')  %>
		</div>
	</div>

</div>

